.category-filters-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    flex-wrap: wrap;
}

.filter-category-wrapper {
    width: max-content;
    border-radius: 8px;
    padding: 2px 10px;
    border: 2px solid #b9c95a;
    margin: 5px;
    cursor: pointer;
    background-color: white;
    color: #b9c95a;
}

.filter-text {
    font-size: 18px;
    margin: 0;
}
