.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 356px;
    width: 300px;
    margin: 25px;
    padding: 20px;
}

.carousel-image-wrapper {
    width: 150px;
    background-color: white;
    border-radius: 8px;
    position: relative;
}

.carousel-image {
    width: 135px;
    height: 225px;
    object-fit: scale-down;
}

.carousel-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 165px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 20px;
}

.carousel-name {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 20px 0 10px;
}

.carousel-price {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 14px;
    margin: 10px 0;
}

.carousel-categories {
    display: flex;
    flex-wrap: wrap;
    width: 185px;
}
