.carousel {
    display: flex;
    flex-direction: column;
    width: 85%;
    position: relative;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: max-content;
    transform-origin: 0 50%;
    transition: all .6s ease;
}
