.carousel {
    display: flex;
    flex-direction: column;
    width: 85%;
    position: relative;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: max-content;
    transform-origin: 0 50%;
    transition: all .6s ease;
}

.arrow-button {
    width: 35px;
    height: 35px;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    margin: 15px;
}

.restricted-cursor {
    cursor: not-allowed;
}
