.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider-line {
    background-color: black;
    height: 1px;
    width: 80%;
    margin: 10px 0 20px;
}
